<mat-card class="second">
  <h2 class="mat-h2">Request-Configuration Command Details</h2>
  <mat-card-content>
    <mat-form-field>
      <mat-label>ackToken </mat-label>
      <mat-select 
        [(value)]="reqConfAckToken"
        matTooltip="A random 4 bits number that is sent back to the sender as acknowledgement of the downlink command."
      >
        <mat-option 
          *ngFor="let v of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,20,21,22,23,26]" 
          [value]=v
        >{{"0x"+v.toString(16)}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Parameter ID </mat-label>
      <mat-select [formControl]="selectedParameterIDs" multiple>

        <mat-optgroup label="Main op mode params">
          <mat-option value="0">
            <span [matTooltip]="C_ParamDescriptions.UL_PERIOD.description">
              UL_PERIOD
            </span>
          </mat-option>
          <mat-option value="1">
            <span [matTooltip]="C_ParamDescriptions.LORA_PERIOD.description">
              LORA_PERIOD
            </span>
          </mat-option>
          <mat-option value="5">
            <span [matTooltip]="C_ParamDescriptions.GEOLOC_SENSOR.description">
              GEOLOC_SENSOR
            </span>
          </mat-option>
          <mat-option value="8">
            <span [matTooltip]="C_ParamDescriptions.MOTION_NB_POS.description">
              MOTION_NB_POS
            </span>
          </mat-option>
          <mat-option value="23">
            <span [matTooltip]="C_ParamDescriptions.MOTION_DURATION.description">
              MOTION_DURATION
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Side op mode params">
          <mat-option value="3">
            <span [matTooltip]="C_ParamDescriptions.PERIODIC_POS_PERIOD.description">
              PERIODIC_POS_PERIOD
            </span>
          </mat-option>
          <mat-option value="6">
            <span [matTooltip]="C_ParamDescriptions.GEOLOC_METHOD.description">
              GEOLOC_METHOD
            </span>
          </mat-option>
          <mat-option value="22">
            <span [matTooltip]="C_ParamDescriptions.PERIODIC_ACTIVITY_PERIOD.description">
              PERIODIC_ACTIVITY_PERIOD
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="GPS/LPGPS params">
          <mat-option value="9" >
            <span [matTooltip]="C_ParamDescriptions.GPS_TIMEOUT.description">
              GPS_TIMEOUT
            </span>
          </mat-option>
          <mat-option value="11">
            <span [matTooltip]="C_ParamDescriptions.GPS_EHPE.description">
              GPS_EHPE
            </span>
          </mat-option>
          <mat-option value="12">
            <span [matTooltip]="C_ParamDescriptions.GPS_CONVERGENCE.description">
              GPS_CONVERGENCE
            </span>
          </mat-option>
          <mat-option value="17">
            <span [matTooltip]="C_ParamDescriptions.GPS_STANDBY_TIMEOUT.description">
              GPS_STANDBY_TIMEOUT
            </span>
          </mat-option>
          <mat-option value="10">
            <span [matTooltip]="C_ParamDescriptions.AGPS_TIMEOUT.description">
              AGPS_TIMEOUT
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="LoRa params">
          <mat-option value="14">
            <span [matTooltip]="C_ParamDescriptions.TRANSMIT_STRAT.description">
              TRANSMIT_STRAT
            </span>
          </mat-option>
          <mat-option value="18">
            <span [matTooltip]="C_ParamDescriptions.CONFIRMED_UL_BITMAP.description">
              CONFIRMED_UL_BITMAP
            </span>
          </mat-option>
          <mat-option value="19">
            <span [matTooltip]="C_ParamDescriptions.CONFIRMED_UL_RETRY.description">
              CONFIRMED_UL_RETRY
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="BLE params">
          <mat-option value="15">
            <span [matTooltip]="C_ParamDescriptions.BLE_BEACON_COUNT.description">
              BLE_BEACON_COUNT
            </span>
          </mat-option>
          <mat-option value="16">
            <span [matTooltip]="C_ParamDescriptions.BLE_BEACON_TIMEOUT.description">
              BLE_BEACON_TIMEOUT
            </span>
          </mat-option>
          <mat-option value="26">
            <span [matTooltip]="C_ParamDescriptions.BLE_RSSI_FILTER.description">
              BLE_RSSI_FILTER
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Misc params">
          <mat-option value="2">
            <span [matTooltip]="C_ParamDescriptions.PW_STAT_PERIOD.description">
              PW_STAT_PERIOD
            </span>
          </mat-option>
          <mat-option value="13">
            <span [matTooltip]="C_ParamDescriptions.CONFIG_FLAGS.description">
              CONFIG_FLAGS
            </span>
          </mat-option>

          <mat-option value="253">
            <span [matTooltip]="C_ParamDescriptions.BLE_VERSION.description">
              BLE_VERSION
            </span>
          </mat-option>
          <mat-option value="254">
            <span [matTooltip]="C_ParamDescriptions.FIRMWARE_VERSION.description">
              FIRMWARE_VERSION
            </span>
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Accelerometer params">
          <mat-option value="20" >
            <span [matTooltip]="C_ParamDescriptions.MOTION_SENSITIVITY.description">
              MOTION_SENSITIVITY
            </span>
          </mat-option>
          <mat-option value="21">
            <span [matTooltip]="C_ParamDescriptions.SHOCK_DETECTION.description">
              SHOCK_DETECTION
            </span>
          </mat-option>
        </mat-optgroup>

      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="second">
  <h2 class="mat-h2">Encode Request-Configuration Command</h2>
  <mat-card-content>
    <button mat-stroked-button color="primary" (click)="reqConfEncode()" class="btn-xcode">Encode</button>
    <mat-form-field>
      <mat-label>Encoded Command</mat-label>
      <input matInput readonly type="text" [(ngModel)]="reqConfEncoded">
      <mat-hint>Send this as a LoRaWAN downlink message to FPort=2 of the device.</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>
