
<div class="main-container">

  <div class="head">
    <img src="assets/micro-tracker.png" height="90px">
    <div class="middle-head" >
      <img src="assets/abeeway-logo.png" height="90px">
      <span class="mat-small">CoDec tool for firmware version 1.7-3</span>
    </div>
    <img src="assets/industrial-tracker.png" height="90px">
  </div>

  <nav>
    <button 
      mat-stroked-button color="primary" routerLinkActive="mat-accent" 
      routerLink="/home"
    >Home</button>
    <button 
      mat-stroked-button color="primary" routerLinkActive="mat-accent" 
      routerLink="/decode"
      matTooltip="Decode uplink/downlink LoRaWAN message payload."
    >Decode</button>
    <button 
      mat-stroked-button color="primary" routerLinkActive="mat-accent" 
      routerLink="/encode"
      matTooltip="Encode a tracker command to be sent to the device as a LoRaWAN downlink message."
    >Encode</button>
  </nav>

  <br />

  <router-outlet></router-outlet>

</div>