<mat-card class="first">
  <mat-card-title>Abeeway CoDec Demo</mat-card-title>
  <mat-card-content>
    <p class="mat-body">
      This is a developer tool that demonstrates how to decode uplink messages sent by Abeeway tracker devices and how 
      to encode configuration commands that can be sent to trackers as LoRaWAN downlink messages. The source code of this 
      tool is available at github 
      <a href="https://github.com/norbertherbert/abeway-driver-gui" target="_blank">here</a>.
    </p>
    <p class="mat-body">
      This tool is developed as an Angular application utilizing the open source 
      <a href="https://github.com/norbertherbert/abeeway-driver" target="_blank">abeeway-driver</a> available on guthub too. 
    </p>
    <p class="mat-body">
      Please also note that Abeeway Trackers are integrated with Actility's 
      <a href="https://dx-api.thingpark.com/location/latest/doc/index.html" target="_blank">ThingPark X Location Engine</a> 
      that can be used as a location solver when trackers use Low Power GPS (LP-GPS) and WiFi localisation technologies.
      If you are interested in testing TPX Location Engine with Abeeway devices please see a 
      <a href="https://github.com/norbertherbert/tpxle-proxy" target="_blank">demo application server</a>
      on github.
    </p>
  </mat-card-content>
</mat-card>
